<!DOCTYPE html>
<%- include('./partials/head.ejs') %>
<%- include('./partials/navbar.ejs') %>

<body>
<div class="container">

<h1>Log In</h1>

<%- include('./partials/footer.ejs') %>
</div>

<script src="/script.js"></script>
</body>

</html>