<!DOCTYPE html>
<%- include('./partials/head.ejs') %>
<%- include('./partials/navbar.ejs') %>

   <body>
      <div class="container">
         <div class="mb-3 mt-5 d-flex justify-content-between align-items-end">
         <div>
            <a href="/feed">
               <button type="button" class="btn btn-success">Back</button>
            </a>
         </div>
         <h1>Welcome To Thoughts</h1>
         </div>
         <form action="/post/<%= user._id %>" method="post">
               <div class="mb-3">
                  <label for="title" class="form-label">Title:</label>
                  <input type="text" class="form-control" id="title" aria-describedby="emailHelp" name="title">
                  <div id="titleFeedback" class="invalid-feedback pb-2">
                     The Title field must be longer than 5 characters
                  </div>
                  <div id="titleFeedbackRequired" class="invalid-feedback pb-2">
                     The Title field is required
                  </div>
               </div>
               <div class="mb-3">
                  <label for="message" class="form-label">Message:</label>
                  <textarea class="form-control" id="message" rows="4" name="message"></textarea>
               </div>
               <div id="messageFeedback" class="invalid-feedback pb-2">
                  The Message field must be longer than 20 character
               </div>
               <div id="messageFeedbackRequired" class="invalid-feedback pb-2">
                  The Message field is required
               </div>
               <button type="submit" class="btn btn-success" id="submitBtn" disabled>Submit</button>
         </form>
      </div>
      <%- include('./partials/footer.ejs') %>

      <script src="/script.js"></script>
   </body>

   </html>