<!DOCTYPE html>
<%- include('./partials/head.ejs') %>
<body>
   <%- include('./partials/navbar.ejs') %>
   <div class="container">
      <div class="mb-3 mt-5 d-flex justify-content-between align-items-end">
         <h2>Sign Up</h2>
         <h1>Welcome To Thoughts</h1>
      </div>
      <form action="/post" method="post">
         <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control" id="name" name="name">
            <p id="nameFeedback" class="pb-2 feedback"></p>
         </div>
         <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="text" class="form-control" id="email" aria-describedby="emailHelp" name="email">
            <p id="emailFeedback" class="pb-2 feedback"></p>
         </div>
         <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" name="password" id="password">
         </div>
         <p id="passwordFeedback" class="pb-2 feedback"></p>
         <button type="submit" class="btn btn-success" id="submitBtn">Submit</button>
      </form>

   </div>

   <%- include('./partials/footer.ejs') %>
   
   <script>
   const form = document.querySelector('form');
   const nameFeedback = document.getElementById('nameFeedback')
   const emailFeedback = document.getElementById('emailFeedback')
   const passwordFeedback = document.getElementById('passwordFeedback')

   form.addEventListener('submit', async (e) => {
   e.preventDefault();

   // reset error message
   nameFeedback.innerHTML = ""
   emailFeedback.innerHTML = ""
   passwordFeedback.innerHTML = ""

   // get the values
   const name = form.name.value;
   const email = form.email.value;
   const password = form.password.value;

   try {
      const res = await fetch("/signup", {
         method: 'POST',
         body: JSON.stringify({name, email, password}),
         headers: { 'Content-Type': 'application/json' }
      })
      const data = await res.json()
      if(data.name) {
         nameFeedback.innerHTML = data.name
      }
      if(data.email) {
         emailFeedback.innerHTML = data.email
      }
      if(data.password) {
         passwordFeedback.innerHTML = data.password
      }
      if(data.user) {
         location.assign("/feed")
      }
   }
   catch {

   }

   })
   </script>
</body>
</html>