body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

h1,
h2 {
  color: #201c1b;
}

p {
  color: #1f553f;
}

h2 {
  color: #2e7758;
}

body {
  background-color: #fef9f3;
}

.name {
  font-size: 26px;
}

.time {
  color: #958a7b;
  font-size: 16px;
}

a {
  color: #2e7758;
  font-size: 20px;
}

.feedback {
  color: red;
}
